<div class="side-nav">
    <div class="side-nav-inner">
        <ul class="side-nav-menu scrollable">
            <li class="nav-item">
                <a class="dropdown-toggle" asp-area="Admin" asp-controller="Home" asp-action="Index">
                    <span class="icon-holder">
                        <i class="anticon anticon-dashboard"></i>
                    </span>
                    <span class="title">Trang chủ</span>
                    <span class="arrow">
                        <i class="arrow-icon"></i>
                    </span>
                </a>

            </li>

            <!-- Purchase Orders -->
            <li class="nav-item">
                <a class="dropdown-toggle" asp-area="Admin" asp-controller="AdminOrders" asp-action="Index">
                    <span class="icon-holder">
                        <i class="anticon anticon-appstore"></i>
                    </span>
                    <span class="title">Quản lý đơn hàng</span>
                </a>
            </li>

            <!-- Products -->
            <li class="nav-item dropdown">
                <a class="dropdown-toggle" asp-area="Admin" asp-controller="AdminProducts" asp-action="Index">
                    <span class="icon-holder">
                        <i class="anticon anticon-shop"></i>
                    </span>
                    <span class="title">Danh sách sản phẩm</span>
                </a>
            </li>

            <!-- Customers -->
            <li class="nav-item dropdown">
                <a class="dropdown-toggle" asp-area="Admin" asp-controller="AdminCustomers" asp-action="Index">
                    <span class="icon-holder">
                        <i class="anticon anticon-form"></i>
                    </span>
                    <span class="title">Danh sách khách hàng</span>
                </a>
            </li>
            <!-- System -->
            <li class="nav-item dropdown">
                <a class="dropdown-toggle" href="javascript:void(0);">
                    <span class="icon-holder">
                        <i class="anticon anticon-table"></i>
                    </span>
                    <span class="title">Hệ thống</span>
                    <span class="arrow">
                        <i class="arrow-icon"></i>
                    </span>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a asp-area="Admin" asp-controller="AdminAccounts" asp-action="Index">Tài khoản quản trị</a>
                    </li>
                    <li>
                        <a asp-area="Admin" asp-controller="AdminCategories" asp-action="Index">Danh mục sản phẩm</a>
                    </li>
                    <li>
                        <a asp-area="Admin" asp-controller="AdminRoles" asp-action="Index">Quyền truy cập</a>
                    </li>
                </ul>
            </li>
            <!-- News -->
            <li class="nav-item">
                <a class="dropdown-toggle" asp-area="Admin" asp-controller="AdminTblTinTucs" asp-action="Index">
                    <span class="icon-holder">
                        <i class="anticon anticon-sound"></i>
                    </span>
                    <span class="title">Tin tức</span>
                </a>
            </li>

            <!-- Pages -->
            <li class="nav-item">
                <a class="dropdown-toggle" asp-area="Admin" asp-controller="AdminPages" asp-action="Index">
                    <span class="icon-holder">
                        <i class="anticon anticon-file"></i>
                    </span>
                    <span class="title">Pages</span>
                </a>
            </li>
        </ul>
    </div>
</div>